a.out
.bash_history
.bash_logout
.bashrc
.cache/
.dotnet/
.gitconfig
.landscape/
.lesshst
.local/
.motd_shown
.profile
.ssh/
.sudo_as_admin_successful
.vscode-server/
.vscode/
.wget-hsts
Makefile
c_cat.cpp
dodo_pizza
dodo_pizza.cpp
file_dir
file_dir.cpp
header.h
hello_term
hello_term.cpp
mommy
mycat.cpp
p_cat.cpp
shell
shmzxc
shmzxc.cpp
stadion
stadion.cpp
test.txt
test1.txt
zachet
zachet.cpp
zxc
zxc.cpp
